<div class="top-bar" id="responsive-menu">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text"><img src="#{request.contextPath}/resources/img/logo_small.png" class="top-bar-logo" />
            </li>
        </ul>
    </div>
</div>

<!-- Menu -->
<div class="user-logged-in">
    <p>
        <h:outputText value="#{userLoggedIn.userName}" />
    </p>
    <h:form id="formChangeBusinessIdChecking" rendered="#{userLoggedIn.businessesAssociatedToUser.size() gt 1}">
        <h:selectOneMenu id="newBusinessIdForChecking" value="#{userLoggedIn.newBusinessIdForChecking}"
            onchange="changeBusinessIdChecking();" style="width: 80%;">
            <f:selectItems value="#{userLoggedIn.businessesAssociatedToUser}" var="business"
                itemLabel="#{business.name}" itemValue="#{business.id}" />
        </h:selectOneMenu>
        <h:commandButton id="changeBusinessIdChecking" action="#{userLoggedIn.changeBusinessIdChecking()}"
            value="Cambiar" style="display: none;" />
    </h:form>

    <h:panelGroup layout="block" rendered="#{userLoggedIn.businessConfChecking.includeLogo}">
        <p><img
                src="https://upagostatic.global.ssl.fastly.net/lbr/upago/#{userLoggedIn.businessChecking.accessId}/logo.png" />
        </p>
    </h:panelGroup>
    <h:panelGroup layout="block" rendered="#{!userLoggedIn.businessConfChecking.includeLogo}">
        <p><span style="text-decoration: underline;">#{userLoggedIn.businessChecking.name}</span></p>
    </h:panelGroup>
</div>
<p:separator styleClass="separator" />
<h:form>
    <p:menu toggleable="true" style="margin-bottom: 1.5rem;">
        <p:submenu label="Informes">
            <p:menuitem outcome="home" ajax="false"><i class="fas fa-tachometer-alt"></i> Global</p:menuitem>
            <p:menuitem outcome="customers" ajax="false"><i class="fa fa-briefcase"></i> Clientes</p:menuitem>
            <p:menuitem outcome="collections" ajax="false"><i class="fas fa-file-invoice-dollar"></i> Recaudaciones
            </p:menuitem>
            <p:menuitem outcome="transactions" ajax="false"><i class="fa fa-credit-card"></i> Transacciones</p:menuitem>
        </p:submenu>
        <p:submenu label="Conciliación Bancaria" rendered="#{userLoggedIn.businessConfChecking.receivePaymentReports}">
            <p:menuitem outcome="daily-payment-reports" ajax="false"><i class="fas fa-comment-dollar"></i> Rendiciones
                Diarias</p:menuitem>
            <p:menuitem outcome="payments-to-business" ajax="false"><i class="fas fa-hand-holding-usd"></i> Abonos de
                Dinero</p:menuitem>
        </p:submenu>
        <p:submenu label="Gestión de Cobros"
            rendered="#{userLoggedIn.businessConfChecking.paymentsAcceptedFromServicePaymentsPortalCheckout}">
            <p:menuitem outcome="management-customers" ajax="false"><i class="fa fa-briefcase"></i> Ficha de Clientes
            </p:menuitem>
            <p:menuitem outcome="management-consumption-concepts" ajax="false"><i class="fas fa-file-invoice"></i>
                Conceptos de Consumos</p:menuitem>
            <p:menuitem outcome="management-collection-accounts" ajax="false"><i class="fas fa-file-invoice-dollar"></i>
                Consumos de Clientes</p:menuitem>
            <p:menuitem outcome="massive-upload-of-debts" ajax="false"
                rendered="#{userLoggedIn.businessChecking.id eq 42}">
                <i class="fas fa-file-upload"></i> Carga Masiva de Deudas
            </p:menuitem>
        </p:submenu>
        <p:submenu label="Mi Cuenta">
            <p:menuitem outcome="account" ajax="false"><i class="fas fa-user"></i> Resumen</p:menuitem>
            <p:menuitem outcome="keychange" ajax="false"><i class="fas fa-key"></i> Cambio de contraseña</p:menuitem>
        </p:submenu>
    </p:menu>
</h:form>